<form class="simuladorForm">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">R$</span>
    <input type="text" class="form-control" placeholder="Valor a ser investido" aria-label="ValorInvestido" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">R$</span>
    <input type="text" class="form-control" placeholder="Valor depositado por mês" aria-label="ValorDepositado" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">R$</span>
    <input type="text" class="form-control" placeholder="Tempo com o dinheiro investido" aria-label="ValorDepositado" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Em x anos você teria: </span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  </div>

  <div class="input-group mb-3">
    <ul class="resultado-rendimento">
      <li>Valor líquido com impostos descontados</li>
      <li>Total investido: R$</li>
      <li>Na poupança seu dinheiro renderia: R$</li>
      <li>No CDB Pré fixado/Letra de Crédito seu dinheiro renderia: R$</li>
    </ul>
  </div>
</form>